<launch>
  
  <arg name="ns" default="m2"/>

  <!-- load robot description -->
  <include file="$(find m2_description)/launch/rviz.launch">
    <arg name="ns" value="$(arg ns)"/>
  </include>
    
  <group ns="$(arg ns)">
    <!-- Create the world. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="false"/>
      <arg name="verbose" value="true"/>
    </include>
    
        <!-- Spawn the robot -->
    <node name="spawn_model" 
          pkg="gazebo_ros" 
          type="spawn_model" 
          args="-urdf -param robot_description -model m2
                -gazebo_namespace /$(arg ns)/gazebo
                -x 0.0 -y 0.0 -z 0.6"/>

    <!-- Load the joint controllers. One of these publishes the joint states to 
         /m2/joint_states -->
    <!-- <node name="controller_spawner"  -->
          <!-- pkg="controller_manager"  -->
          <!-- type="spawner"  -->
          <!-- output="screen"  -->
          <!-- args="$(find m2_description)/config/m2_joint_controller_params.yaml"/> -->

        <!-- Control the steering, drive motors -->
    
    <!-- <node name="joint_state_publisher"  -->
          <!-- pkg="joint_state_publisher"  -->
          <!-- type="joint_state_publisher"> -->
    <!-- </node> -->

    <!-- visualize the robot in RViz -->
    <!-- <node name="rviz" 
          pkg="rviz" 
          type="rviz" 
          args="-d $(find m2_description)/config/m2_viz.rviz"/> -->
  </group>

</launch>