<launch>

  <arg name="ns" default="m2"/>
    
    <group ns="$(arg ns)">
        
        <param name="robot_description" command="$(find xacro)/xacro $(find m2_description)/urdf/m2.urdf"/>

        <node name="joint_state_publisher_gui" 
              pkg="joint_state_publisher_gui" 
              type="joint_state_publisher_gui">
        </node>
        
        <node name="robot_state_publisher" 
              pkg="robot_state_publisher" 
              type="robot_state_publisher">
          <param name="publish_frequency" value="50.0"/>
        </node>
        
        <node name="rviz" 
              pkg="rviz" 
              type="rviz" 
              args="-d $(find m2_description)/config/m2_viz.rviz"/>

    </group>

</launch>